<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<meta id="i18n_pagename" content="index-common">
	    <meta name="keywords" content=""/>
	    <meta name="description" content=""/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/libs/font-awesome.css"/>	
		<link rel="stylesheet" href="css/bootstrap-switch.min.css" />
		<!--<link rel="stylesheet" type="text/css" href="css/compiled/theme_styles.css"/>-->
		<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<link rel="stylesheet" href="css/main.css" />
		<link type="image/x-icon" href="favicon.png" rel="shortcut icon"/>
		<script type="text/javascript" src="util_gw.js"> </script>
	</head>
	<body onLoad="Load_Setting();">
		 		<div class="main_content">
		 			<div class="wifi_content">
			 			<div class="wifiset">
			 				<div class="top_wifiset">
			 					<div class="intell i18n" name="24g_5g_change_title_wifi"></div>		 					
				 				<div class="switch_check">
				 					<input type="checkbox" class="checkbox_switch" data-size="mini" name="status"/>
				 				</div>
						    </div>
						    <div class="wifiset_tips">
						    	<p class="i18n" name="tips_for_wifiset"></p>
						    </div>
			 				<hr />
			 				<div class="content_wifiset">
			 					<div class="leftset">
			 						<script>document.getElementsByName("formWlanRedirect0").submit();</script>
			 						<from role="form" action="/boafrm/formWlanSetup" method="POST" name="wlanSetup">
			 							<!--<input type="hidden" name="wps_clear_configure_by_reg<% getIndex("wlan_idx"); %>" value="0" />
										<input type="hidden" name="Band2G5GSupport" value="<% getIndex("Band2G5GSupport"); %>" />
										<input type="hidden" name="dsf_enable" value="<% getIndex("dsf_enable"); %>" />
										<input type="hidden" name="wlBandMode" value="<% getIndex("wlanBand2G5GSelect"); %>" />
										<input type="hidden" name="regdomain<% getIndex("wlan_idx");%>" value="<% getIndex("regDomain"); %>" />
										<input type="hidden" name="countrystr<% getIndex("wlan_idx");%>" value="<% getInfo("country_str"); %>" />
										<input type="hidden" name="wlan_support_8812e" value="<% getIndex("wlan_support_8812e"); %>" />
										<input type="hidden" name="wlan_support_8192f" value="<% getIndex("wlan_support_8192f"); %>" />
										<input type="hidden" name="wlan_support_ac2g" value="<% getIndex("wlan_support_ac2g"); %>" />-->
			 							<div class="form-group title_24g"><span>2.4G</span></div>
			 							<div class="form-group"><label class="i18n" name="ssid_wifset"></label><input class="form_input" name="ssid<% getIndex("wlan_idx"); %>"  value="<% getIndex("2G_ssid"); %>" placeholder=""/></div>
					 					<!--<div class="form-group band_24g">
					 						<label>Band</label>
					 						<select name="band<% getIndex("wlan_idx"); %>" onChange="updateBand(document.wlanSetup, wlan_idx);Set_onChangeBand(document.wlanSetup, wlan_idx, document.wlanSetup.band<% getIndex("wlan_idx"); %>, document.wlanSetup.band<% getIndex("wlan_idx"); %>.selectedIndex);Set_SSIDbyBand(document.wlanSetup, wlan_idx,document.wlanSetup.band<% getIndex("wlan_idx"); %>, document.wlanSetup.band<% getIndex("wlan_idx"); %>.selectedIndex)">
					 							<option value="">2.4GHz(B)</option>
					 							<option value="">2.4GHz(G)</option>
					 							<option value="">2.4GHz(N)</option>
					 							<option value="">2.4GHz(B+G)</option>
					 							<option value="">2.4GHz(G+N)</option>
					 							<option value="">2.4GHz(B+G+N)</option>
					 						</select>	
					 						<i class="fa fa-caret-down type_down"></i>
					 					</div>-->
					 					<div class="form-group chenal_select">
					 						<label class="i18n" name="channel_select_wifiset"></label>
					 						<select name="chan<% getIndex("wlan_idx"); %>" onChange="updateChan_selectedIndex(document.wlanSetup, wlan_idx);">
					 							<option value="" class="i18n" name="Auto_widiset">Auto(DFS)</option>
					 							<option value="">142</option>
					 							<option value="">112</option>
					 							<option value="">1689</option>
					 							<option value="">156</option>
					 							<option value="">1253</option>
					 						</select>	
					 						<i class="fa fa-caret-down type_down"></i>
					 					</div>
					 					<div class="form-group">
					 						<label class="i18n" name="encryption_wifiset"></label>
					 						<select name="" class="encryption_one">
					 							<option value="0" class="i18n" name="disable_wifiset"></option>
					 							<option value="4">WPA2-PSK(AES)</option>
					 							<option value="6">WPA-PSK/WPA2-PSK</option>
					 							<!--<option value="">WEP</option>-->
					 						</select>	
					 						<i class="fa fa-caret-down type_down"></i>
					 					</div>
					 					<div class="form-group wpa2_aes_24g"><label class="i18n" name="encryption_key1_wifiset"></label><input class="form_input" type="password" name="pskValue<% getIndex("wlan_idx"); %>"/></div>
					 					<div class="form-group wpa_mixed_24g"><label class="i18n" name="encryption_key2_wifiset"></label><input class="form_input" type="password" name="pskValue<% getIndex("wlan_idx"); %>" /></div>
					 					<div class="wep_24g">
						 					<div class="form-group-self">
						 						<label class="renzheng">认证</label>
						 						<div class="radio_group">
							 						<label>
														<input type="radio" name="optionsRadios">开放系统
													</label>
													<label>
														<input type="radio" name="optionsRadios" checked>共享密钥
													</label>
													<label>
														<input type="radio" name="optionsRadios" >自动
													</label>
												</div>
						 					</div>
						 					<div class="form-group">
						 						<label>密钥长度</label>
						 						<select name="">
						 							<option value="">64-bit</option>
						 							<option value="">128-bit</option>
						 						</select>	
						 						<i class="fa fa-caret-down type_down"></i>
						 					</div>
						 					<div class="form-group">
						 						<label>密钥格式</label>
						 						<select name="">
						 							<option value="">Hex(10&nbsp;&nbsp;characters)</option>
						 							<option value="">ASCII(5&nbsp;&nbsp;characters)</option>
						 						</select>	
						 						<i class="fa fa-caret-down type_down"></i>
						 					</div>
						 					<div class="form-group"><label>加密密钥</label><input class="form_input" type="password" placeholder="请输入" value="630478"/></div>
						 				</div>
					 					<!--<div class="form-group form-group-btn"><button>保存</button></div>-->
					 				</from>
			 					</div>
			 					<div class="rightset">
			 						<from role="form">
			 							<script>document.getElementsByName("formWlanRedirect1").submit();</script>
			 							<div class="form-group title_5g"><span>5G</span></div>
			 							<div class="form-group for_5g"><label class="i18n" name="ssid_5g_wifset"></label><input class="form_input" type="text" name="ssid<% getIndex("wlan_idx"); %>"  value="<% getIndex("5G_ssid"); %>" placeholder=""/></div>
					 					<!--<div class="form-group for_5g">
					 						<label>Band</label>
					 						<select name="band<% getIndex("wlan_idx"); %>" onChange="updateBand(document.wlanSetup, wlan_idx);Set_onChangeBand(document.wlanSetup, wlan_idx, document.wlanSetup.band<% getIndex("wlan_idx"); %>, document.wlanSetup.band<% getIndex("wlan_idx"); %>.selectedIndex);Set_SSIDbyBand(document.wlanSetup, wlan_idx,document.wlanSetup.band<% getIndex("wlan_idx"); %>, document.wlanSetup.band<% getIndex("wlan_idx"); %>.selectedIndex)">
					 							<option value="">2.4GHz(B)</option>
					 							<option value="">2.4GHz(G)</option>
					 							<option value="">2.4GHz(N)</option>
					 							<option value="">2.4GHz(B+G)</option>
					 							<option value="">2.4GHz(G+N)</option>
					 							<option value="">2.4GHz(B+G+N)</option>
					 							<SCRIPT>
													RFType[wlan_idx]= <% getIndex("RFType"); %>;
													APMode[wlan_idx]= <% getIndex("wlanMode"); %>;
													var val = <% getIndex("band"); %>;
													if (val > 0)
										    			bandIdx[wlan_idx]= val - 1;
													else
														bandIdx[wlan_idx]= val;
									
									//	if (APMode[wlan_idx]!=1)
													bandIdxAP[wlan_idx]=bandIdx[wlan_idx];
									//	else
													bandIdxClient[wlan_idx]=bandIdx[wlan_idx];
													showBand(document.wlanSetup, wlan_idx);
										     	</SCRIPT>
					 						</select>	
					 						<i class="fa fa-caret-down type_down"></i>
					 					</div>-->
					 					<div class="form-group for_5g">
					 						<label class="i18n" name="channel_5g_select_wifiset"></label>
					 						<select name="chan<% getIndex("wlan_idx"); %>" onChange="updateChan_selectedIndex(document.wlanSetup, wlan_idx);">
					 							<option value="" class="i18n" name="Auto_widiset">Auto(DFS)</option>
					 							<option value="">142</option>
					 							<option value="">112</option>
					 							<option value="">1689</option>
					 							<option value="">156</option>
					 							<option value="">1253</option>
					 							 <SCRIPT>
												regDomain[wlan_idx] = <% getIndex("regDomain"); %>;
												defaultChan[wlan_idx] = <% getIndex("channel"); %>;
											
												wlan_channel[wlan_idx] = defaultChan[wlan_idx];
												updateChan(document.wlanSetup, wlan_idx);
											    </SCRIPT>
					 						</select>	
					 						<i class="fa fa-caret-down type_down"></i>
					 					</div>
					 					<div class="form-group for_5g">
					 						<label class="i18n" name="encryption_5g_wifiset"></label>
					 						<select name="" class="encryption_two">
					 							<option value="0" class="i18n" name="disable_wifiset"></option>
					 							<option value="4">WPA2-PSK(AES)</option>
					 							<option value="6">WPA-PSK/WPA2-PSK</option>
					 							<!--<option value="">WEP</option>-->
					 						</select>	
					 						<i class="fa fa-caret-down type_down"></i>
					 					</div>
					 					<div class="form-group wpa2_aes_5g"><label class="i18n" name="encryption_5g_key1_wifiset"></label><input class="form_input" type="password" name="pskValue<% getIndex("wlan_idx"); %>"/></div>
					 					<div class="form-group wpa_mixed_5g"><label class="i18n" name="encryption_5g_key2_wifiset"></label><input class="form_input" type="password" name="pskValue<% getIndex("wlan_idx"); %>"/></div>
					 					<!--<div class="wep_5g">
						 					<div class="form-group-self">
						 						<label class="renzheng">认证</label>
						 						<div class="radio_group">
							 						<label>
														<input type="radio" name="optionsRadios2" checked>开放系统
													</label>
													<label>
														<input type="radio" name="optionsRadios2" >共享密钥
													</label>
													<label>
														<input type="radio" name="optionsRadios2" >自动
													</label>
												</div>
						 					</div>
						 					<div class="form-group">
						 						<label>密钥长度</label>
						 						<select name="">
						 							<option value="">64-bit</option>
						 							<option value="">128-bit</option>
						 						</select>	
						 						<i class="fa fa-caret-down type_down"></i>
						 					</div>
						 					<div class="form-group">
						 						<label>密钥格式</label>
						 						<select name="">
						 							<option value="">Hex(10&nbsp;&nbsp;characters)</option>
						 							<option value="">ASCII(5&nbsp;&nbsp;characters)</option>
						 						</select>	
						 						<i class="fa fa-caret-down type_down"></i>
						 					</div>
						 					<div class="form-group"><label>加密密钥</label><input class="form_input" type="password" placeholder="请输入" value="630478"/></div>
						 				</div>-->
					 					 <script>
									  	var usedBand=new Array();
										usedBand[wlan_idx] = <% getIndex("band"); %>;
									   	updateState(document.wlanSetup, wlan_idx);
										var mssid_num=<%getIndex("wlan_mssid_num");%>;
										if(mssid_num == 0)
											   disableButton(document.wlanSetup.elements["multipleAP"+<% getIndex("wlan_idx"); %>]);
									  </script>
					 				</from>
			 					</div>			 					
			 				</div>
			 				<div class="form-group form-group-btn">
			 					<% getInfo("apply_direct_comment_start");%>
			 					<button type="submit" value="Save & Apply" class="i18n" name="save_apply" onClick="return saveChanges_basic(document.wlanSetup, wlan_idx)"></button>
			 					<script>document.wlanSetup.save_apply.value = wlbasic_save_apply;</script>
			 					<% getInfo("apply_direct_comment_end");%>
			 				</div>
			 			</div>
		 			</div>
		 		</div>
		 	<!--</div>-->
		 	<!--<div class="footer-wrap">
		 		<p>深圳金信诺高新技术股份有限公司@copyright 2019</p>
		 	</div>-->
		 <!--</div>-->
		
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/bootstrap-switch.min.js"></script>
		<!--<script src="js/jquery-1.9.1.min.js"></script>-->
	    <script src="js/jquery.cookie.js"></script>
	    <!-- 加载语言包文件 -->
	    <script src="js/jquery.i18n.properties.js"></script>
	    <script src="js/language.js"></script>
		<script type="text/javascript">
    	window.onload=function(){
//	  	$('[name="status"]').bootstrapSwitch('state',true);
//		$('input[name="status"]').prop('checked', true);
						$(".leftset").css("float","none");
		               	$(".leftset").css("margin-left","auto");
		               	$(".leftset").css("margin-right","auto");
        $('[name="status"]').bootstrapSwitch({  
		        onText:"",  
		        offText:"",  
		        onColor:"success",  
		        offColor:"info",  
		        size : "mini",    // 设置控件大小,从小到大  (mini/small/normal/large)  
		        onSwitchChange:function(event,state){  
		            if(state==true){  
		               $(".title_24g,.title_5g,.for_5g,.wep_5g,.band_24g,.chenal_select").css("display","none");  
		                $(".wifiset_tips").css("display","block");
		                $(".leftset").css("float","none");
		               	$(".leftset").css("margin-left","auto");
		               	$(".leftset").css("margin-right","auto");
		            }else{  		                
		                 $(".title_24g,.title_5g,.for_5g,.chenal_select,.band_24g").css("display","block");  
		                $(".wifiset_tips").css("display","none"); 
		                $(".leftset").css("float","left");
		               	$(".leftset").css("margin-left","none");
		               	$(".leftset").css("margin-right","none");
		           }  
		      	}  
			}).bootstrapSwitch('state',true);
			
        	$(".encryption_one").change(function(){
					var changevalue=$(this).val();
					if(changevalue==0){
						$(".wpa2_aes_24g").css("display","none");
						$(".wpa_mixed_24g").css("display","none");
						$(".wep_24g").css("display","none");
					}
					if(changevalue==4){
						$(".wpa_mixed_24g").css("display","none");
						$(".wep_24g").css("display","none");
						$(".wpa2_aes_24g").css("display","block");
					}
					if(changevalue==6){
						$(".wep_24g").css("display","none");
						$(".wpa_mixed_24g").css("display","block");
						$(".wpa2_aes_24g").css("display","none");
					}
					if(changevalue=="WEP"){
						$(".wep_24g").css("display","block");
						$(".wpa_mixed_24g").css("display","none");
						$(".wpa2_aes_24g").css("display","none");
					}
				})
        	$(".encryption_two").change(function(){
					var changevalue=$(this).val()
					if(changevalue==0){
						$(".wpa2_aes_5g").css("display","none");
						$(".wpa_mixed_5g").css("display","none");
						$(".wep_5g").css("display","none");
					}
					if(changevalue==4){
						$(".wpa_mixed_5g").css("display","none");
						$(".wep_5g").css("display","none");
						$(".wpa2_aes_5g").css("display","block");
					}
					if(changevalue==6){
						$(".wep_5g").css("display","none");
						$(".wpa_mixed_5g").css("display","block");
						$(".wpa2_aes_5g").css("display","none");
					}
				})
	    }
    	</script>
	</body>
</html>
